footer

    section.footer-main(id="anchor-footer")
        .container.footer-main__container

            h2.footer-main__subTitle Jste připraveni začít investovat?
            h1.footer-main__title Vyplňte tento krátký forumlář

            form.form.footer-main__form(action="" method="")
                .form-group.footer-main__formGroup
            
                    input.form-control.footer-main__input(type="text" id="form_name" aria-describedby="name" placeholder="Vaše jméno a příjmení" required)
                .form-group.footer-main__formGroup
            
                    input.form-control.footer-main__input(type="email" id="form_mail" aria-describedby="email" placeholder="Vaše emailová adresa" required)

                button.btn.footer-main__btn(type="submit") Odeslat

            p.footer-main__form-text Odesláním formuláře souhlasíte s #[a(href="#") podmínkami ochrany osobních údajů]

        
    section.footer-links
        .container
            .row
                .col-12.col-md-6
                    h5.footer-main__h5 Hlavní nabídka
                    .row
                        .col-12.col-md-6
                            a.footer-main__link(href="#") Investiční přístup
                            a.footer-main__link(href="#") O nás
                            a.footer-main__link(href="#") Fond

                        .col-12.col-md-6
                            a.footer-main__link(href="#") Pro investory
                            a.footer-main__link(href="#") Kontakty

                .col-12.col-md-3

                .col-12.col-md-3
                    h5.footer-main__h5 Kontakty

                    p.footer-main__text kbpartnersfond s.r.o.
                    p.footer-main__text Lorem ipsun
                    p.footer-main__text 123 45 Ostrava
     
                    a.footer-main__link(href="#") Všechny kontakty



section.copyright
    .container.copyright__container
        .copyright__wrap
            h5.copyright__h5 Copyright © 2020 #[a.copyright__link(href=metaURL) #{metaSitename}]
            h5.copyright__h5.copyright__pull Vytvořeno v #[a.copyright__link(href="#") eline.cz]
        .copyright__text K&B Partners, alternativní investiční fond, s.r.o. je společnost, která je na základě rozhodnutí České národní banky Čj.: 2018/106055/CNB/570 osobou registrovanou v seznamu osob uvedených v § 15 odst. 1 zák. č. 240/2013 Sb., o investičních společnostech a investičních fondech. Společnost a výkon její činnosti nepodléhají dohledu České národní banky. Společnost vykonává na základě předem určené individuální strategie společnou správu majetku svěřeného investory a to způsobem srovnatelným s obhospodařováním aktiv.
        